################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DominoCS/.vs/DominoCS
/DominoCS/bin/Debug/net8.0
/DominoCS/obj
